<div class="container" novalidate>
    <div class="form-container">
        <h3>Note hinzufügen</h3>
        <form [formGroup]="formGroup">

            <mat-form-field class="form-field" appearance="standard">
                <mat-label>Note title</mat-label>
                <input matInput placeholder="Titel" formControlName="inp_title" />
                <mat-error *ngIf="!inp_title.valid && inp_title.touched">
                    <span *ngIf="inp_title.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="standard">
                <mat-label>Note location</mat-label>
                <input matInput placeholder="Location" formControlName="inp_location" />
                <mat-error *ngIf="!inp_location.valid && inp_location.touched">
                    <span *ngIf="inp_location.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

        <mat-form-field class="form-field inputbreit" appearance="standard">
            <mat-label>Note text</mat-label>
            <input matInput placeholder="Text" formControlName="inp_text" />
            <mat-error *ngIf="!inp_text.valid && inp_text.touched">
                <span *ngIf="inp_text.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field inputbreit" appearance="standard">
            <!-- Readonly Input to show File names -->
            <input matInput readonly id="file_name" placeholder="Browse image file" />

            <!-- Fetch selected filed on change -->
            <input type="file" id="fileUpload" (change)="uploadFileEvt($event)" formControlName="inp_image" multiple="multiple" accept="image/*" />
        </mat-form-field>

        </form>

        <div *ngIf="isCameraExist; else noCameraExist">
            <div style="text-align:center">
                <div class="btn-group">
                    <button class="button" (click)="takeSnapshot()">Take Picture</button>
                    <button class="button" (click)="changeWebCame(true)">Toggle Camera</button>
                    <button class="button" (click)="onOffWebCame()">Switch camera</button>
                </div> <br />
                <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
            </div>
        
            <div *ngIf="errors.length > 0">
                <h4>Error Messages:</h4>
                <ul *ngFor="let error of errors">
                    <li>{{ error | json }}</li>
                </ul>
            </div>
        </div>
        
        <ng-template #noCameraExist>
            Camera device not available
        </ng-template>
        <button mat-stroked-button (click)="onSubmit()" color="default" class="button" [disabled]="!formGroup.valid">
          Add Note
        </button>
    </div>
</div>