<div class="container" novalidate>
    <div class="form-container">
        <h3>Note</h3>
        <form [formGroup]="formGroup">

            <mat-form-field class="form-field" appearance="standard">
                <mat-label>Note title</mat-label>
                <input matInput placeholder="Titel" formControlName="inp_title" />
                <mat-error *ngIf="!inp_title.valid && inp_title.touched">
                    <span *ngIf="inp_title.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="standard">
                <mat-label>Note location</mat-label>
                <input matInput placeholder="Location" formControlName="inp_location" />
                <mat-error *ngIf="!inp_location.valid && inp_location.touched">
                    <span *ngIf="inp_location.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

        <mat-form-field class="form-field inputbreit" appearance="standard">
            <mat-label>Note text</mat-label>
            <input matInput placeholder="Text" formControlName="inp_text" />
            <mat-error *ngIf="!inp_text.valid && inp_text.touched">
                <span *ngIf="inp_text.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>


        </form>
    </div>
</div>